.wrapper {
    z-index: 9;
    width:80%; 
    margin: auto; 
    padding: 2%;
    overflow: inherit;
}
.first {
    margin-right: 4%;
    width: 50%;
    float:left;
}
.second {
    width: 40%;
    float: left;
}

.stattable{
    padding: 20px;
}