<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.css" />
</head>

<!-- <div class="wrapper"> -->
  <div class="container">
    <div class="row">

      <div class="col">
        <div class="buttonarea">
          <div class="modalbuttonfilter">
            <button class="btn btn-outline-primary" (click)="open(content)">Adjust filter</button>
          </div>
  
          <div>
            <div class="modalbuttonsorting">
              <button class="btn btn-outline-primary" (click)="open(sort)">Adjust sorting</button>
            </div>
          </div>
        </div>
      </div>

      <!--Dosing ID table-->
      <div class="col-6">
        <div class="form-group first" *ngIf="records" style="overflow-y: auto; height: 170px">
          <table class="idstable">
            <th>ID</th><th>Article</th><th>Dosing type</th><th>Setpoint</th><th>Actual</th>
            <tr *ngFor="let record of records">
                <td>{{record.proportioningrecordDbid}}</td>
                <td>{{record.articleName}}</td>
                <td>{{record.dosingtype}}</td>
                <td>{{record.requestedamount}}</td>
                <td>{{record.actualamount}}</td>
                <td><button class="btnsm btn-primary" (click)="onChangeID(record.proportioningrecordDbid)">Preview dosing</button></td>
            </tr>
          </table>
        </div>
        <span style="font-weight:bold;" >{{records!.length}}</span> shown out of <span style="font-weight:bold;">{{totalPropCount}}</span>
      </div>
      
    </div>

    <!--Stat table-->
    <div class="row">
      <div class="col-12" *ngIf="loggings">
        <table class="stattable">  
          <th>Type of dosing</th><th>Setpoint</th><th>Accuracy</th><th>Dosed weight</th><th>Max</th><th>Min</th><th>Time</th>
          <tr>
            <td>{{typeofdosing}}</td>
            <td>{{setpoint}}</td>
            <td>{{accuracy}}</td>
            <td>{{dosedweight}}</td>
            <td>{{setpointMax}}</td>
            <td>{{setpointMin}}</td>
            <td>{{time}}s</td>
          </tr>
        </table>
      </div>
    </div>
  </div>



<div class="col-md-12" class="chart">
  <div echarts [options]="ChartOptions" class="demo-chart"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adjust filter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label>Article</label>
        <div class="input-group">
          <select [(ngModel)]="selectedArticle" name="article" class="form-control" (change)="onChangeArticle()">   
            <option *ngFor="let article of articles" [value]="article.articleId">{{article.articleId}}</option>
          </select>
          <button type="button" class="btn btn-secondary" (click)="deleteArticleFilter()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
        </div>
        <label>Date from</label>
        <div class="input-group">
          <input [(ngModel)]="filterDateFrom" (change)="onChangeDate()" type="Date" id="dataFrom" class="form-control" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <button type="button" class="btn btn-secondary" (click)="deleteDateFromFilter()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
        </div>
        <label>Date until</label>
        <div class="input-group">
          <input [(ngModel)]="filterDateUntil" (change)="onChangeDate()" type="Date" id="dateUntil" class="form-control" name="dp1" ngbDatepicker #dp1="ngbDatepicker">
          <button type="button" class="btn btn-secondary" (click)="deleteDateUntilFilter()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #sort let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Adjust sorting</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="list-container">
      <dx-list #list [dataSource]="checkboxList" [height]="500" [searchEnabled]="true" searchExpr="name"
        searchMode="contains" pageLoadMode="scrollBottom">
        <hr />
        <div class="row">
          <div class="col-4" *dxTemplate="let data of 'item' let index = index">
            <label>
              <input (click)="checkboxClick(data)" [checked]="data.isChecked" type="checkbox" value="data">
              {{data.name}}</label>
          </div>
        </div>
      </dx-list>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>