<head>
  <title>ng-bootstrap modal demo - basic</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.css" />
</head>

<div class="wrapper">
  <div class="buttonarea">
    <div class="modalbuttonfilter">
      <button class="btn btn-outline-primary" (click)="open(content)">Adjust filter</button>
    </div>

    <div>
      <div class="modalbuttonsorting">
        <button class="btn btn-outline-primary" (click)="open(sort)">Adjust sorting</button>
      </div>
    </div>
  </div>

  <!-- <div class="form-group first">
    <h4 for="">Dosing ID</h4>
    <select class="form-control" name="dosingid"  [(ngModel)]="selectedID" (change)="onChangeID()">
      <option disabled hidden [value]="selectUndefinedOptionValue">Update filter first</option>
      <option *ngFor="let id of ids" [value]="id">{{id}}</option>
    </select>
  </div> -->

  <div class="form-group first">
    <h4 for="">Dosing ID</h4>
    <select class="form-control" name="dosingid"  [(ngModel)]="selectedID" (change)="onChangeID()">
      <option disabled hidden [value]="selectUndefinedOptionValue">Update filter first</option>
      <option *ngFor="let record of records" [value]="record.proportioningrecordDbid">
        <table>
          <tr>
            <td>ID: {{record.proportioningrecordDbid}}&nbsp;&nbsp;</td>
            <td>Article name: {{record.articleName}}&nbsp;&nbsp;</td>
            <td>Start time: {{record.startTime}}</td>
          </tr>
        </table>
      </option>
    </select>
  </div>

  <div class="second" *ngIf="loggings">
    <table class="stattable">
      <th>
        <h5>Stats:</h5>
      </th>
      <th style="padding-right: 100px;">

      </th>
      <tr>
        <td>Type of dosing:</td>
        <td style="padding-left: 10px;">{{typeofdosing}}</td>
        <td>Setpoint:</td>
        <td style="padding-left: 10px;">{{setpoint}}</td>
      </tr>
      <tr>
        <td>Accuracy:</td>
        <td style="padding-left: 10px;">{{accuracy}}</td>
        <td>Dosed weight:</td>
        <td style="padding-left: 10px;">{{dosedweight}}</td>
      </tr>
      <tr>
        <td>Max:</td>
        <td style="padding-left: 10px;">{{setpointMax}}</td>
        <td>Min:</td>
        <td style="padding-left: 10px;">{{setpointMin}}</td>
        <td>Tijd:</td>
        <td style="padding-left: 10px;">{{time}}s</td>
      </tr>
    </table>
  </div>
</div>


<div class="col-md-12" style="margin-top: 12%;">
  <div echarts [options]="ChartOptions" class="demo-chart"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adjust filter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <!-- <label>Plant</label>
        <div class="input-group">
          <select class="form-control" name="plantid" [(ngModel)]="selectedPlantID" (change)="onChangePlantID()">
            <option *ngFor="let id of plantids" [value]="id">{{id}}</option>
          </select>
        </div> -->
        <label>Article</label>
        <div class="input-group">
          <select [(ngModel)]="selectedArticle" name="article" class="form-control" (change)="onChangeArticle()">
            
            <option *ngFor="let article of articles" [value]="article.articleId">{{article.articleId}}</option>
          </select>
        </div>
        <label>Date from</label>
        <div class="input-group">
          <input [(ngModel)]="filterDateFrom" type="Date" id="dataFrom" class="form-control" name="dp" ngbDatepicker #dp="ngbDatepicker">
        </div>
        <label>Date until</label>
        <div class="input-group">
          <input [(ngModel)]="filterDateUntil" (change)="onChangeDate()" type="Date" id="dateUntil" class="form-control" name="dp1" ngbDatepicker #dp1="ngbDatepicker">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #sort let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Adjust sorting</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="list-container">
      <dx-list #list [dataSource]="checkboxList" [height]="500" [searchEnabled]="true" searchExpr="name"
        searchMode="contains" pageLoadMode="scrollBottom">
        <hr />
        <div class="row">
          <div class="col-4" *dxTemplate="let data of 'item' let index = index">
            <label>
              <input (click)="checkboxClick(data)" [checked]="data.isChecked" type="checkbox" value="data">
              {{data.name}}</label>
          </div>
        </div>
      </dx-list>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>