<div class="stats">
    <h4>Stats:</h4>
    <label style="font-weight: bold;">Total dosings:</label> {{totaldosings}}
    <label style="font-weight: bold;">Total dosed weight:</label> {{totaldosedweight}}kg
    <label style="font-weight: bold;">Total correct dosings:</label> {{totalcorrectdosings}} 
    <label style="font-weight: bold;">Average dosing time:</label> {{averagetime}}
</div>


<div class="col-md-12" style="margin-top: 3%;">
    <div echarts [options]="ChartOptions" class="demo-chart"></div>
</div>